# .htaccess

# Define environment variables
SetEnv DB_SERVER localhost
SetEnv DB_USER CultureConnect
SetEnv DB_PASS Manshit$123.cultureConnect
SetEnv DB_NAME cultureconnect
SetEnv SMTP_USER cultureconnect0701@gmail.com
SetEnv SMTP_PASS eqexqfkfsglajpbi

