.side-border {
  position: relative; /* <-- Add this */
}

.side-border::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 95%;
  background: #edeff2;
  top: 1%;
  right: -2%;
  bottom: 0;
}
