.parallax-container {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 1, 0, 0.6);
}

.caption {
  position: absolute;
  text-align: center;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.caption h3 {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: red;
  font-family: "Segoe Script", cursive;
  margin: 0;
}

.caption h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0 0;
}

@media screen and (max-width: 500px) {
  .caption h3 {
    font-size: 1.5rem;
  }
  .caption h1 {
    font-size: 2rem;
  }
}
