.container {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 12px;
  align-items: stretch;
  justify-content: stretch;
}

.animation {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  object-fit: cover;
  display: block;
}
